<form class="form-horizontal" autocomplete="off" #editSizeForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'EditProductSize' | localize}}
        </nb-card-header>
        <nb-card-body>
            <div>
                <!--Size-->
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="sizeId">
                        {{ "Size" | localize }}
                    </label>
                    <div class="col-md-9">
                        <ejs-dropdownlist id='sizeId' name='sizeId' cssClass="as-sy-input" [dataSource]='sizes'
                             [fields]='sizeFields' required [(ngModel)]="productSize.sizeId"
                            #sizeIdModel="ngModel" #sizeIdEl></ejs-dropdownlist>
                        <abp-validation-summary [control]="sizeIdModel" [controlEl]="sizeIdEl">
                        </abp-validation-summary>
                    </div>
                </div>
                <!--Point-->
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="point">
                        {{ "Point" | localize }}
                    </label>
                    <div class="col-md-9">
                        <ejs-numerictextbox id='point' name='point' format='N' min="1" cssClass="as-sy-input"
                             required [(ngModel)]="productSize.point" #pointModel="ngModel" #pointEl>
                        </ejs-numerictextbox>
                        <abp-validation-summary [control]="pointModel" [controlEl]="pointEl">
                        </abp-validation-summary>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editSizeForm.form.valid || saving"
                (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>