<form class="form-horizontal" autocomplete="off" #editUserForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'CreateNewUser' | localize}}
        </nb-card-header>
        <nb-card-body>
            <nb-tabset>
                <nb-tab class="tabset-height" tabTitle="{{'UserDetails' | localize}}">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <!--Name-->
                                <div class="form-group row required">
                                    <label class="col-md-3 col-form-label" for="employeeName">
                                        {{ "Name" | localize }}
                                    </label>
                                    <div  class="col-md-9">
                                        <input nbInput type="text" class="form-control"
                                        name="name" 
                                        fullWidth
                                        id="name" 
                                        minlength="2" 
                                        required 
                                        [(ngModel)]="user.name" 
                                        #nameModel="ngModel" 
                                        #nameEl />
                                        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
                                        </abp-validation-summary>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Surname -->
                                <div class="form-group row required">
                                    <label class="col-md-3 col-form-label" for="surname">
                                        {{ "Surname" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input
                                        nbInput 
                                        fullWidth
                                        class="form-control"
                                        type="text"
                                        name="surname"
                                        id="surname"
                                        required
                                        maxlength="32"
                                        [(ngModel)]="user.surname"
                                        #surnameModel="ngModel"
                                        #surnameEl
                                        />
                                        <abp-validation-summary
                                        [control]="surnameModel"
                                        [controlEl]="surnameEl"
                                        ></abp-validation-summary>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Username -->
                                <div class="form-group row required">
                                    <label class="col-md-3 col-form-label" for="userName">
                                        {{ "UserName" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input
                                            nbInput
                                            fullWidth
                                            class="form-control"
                                            type="text"
                                            name="userName"
                                            id="userName"
                                            required
                                            minlength="2"
                                            maxlength="32"
                                            [(ngModel)]="user.userName"
                                            #userNameModel="ngModel"
                                            #userNameEl
                                            />
                                        <abp-validation-summary
                                        [control]="userNameModel"
                                        [controlEl]="userNameEl"
                                        ></abp-validation-summary>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Email Address -->
                                <div class="form-group row required">
                                    <label class="col-md-3 col-form-label" for="emailAddress">
                                        {{ "EmailAddress" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input
                                        nbInput
                                        fullWidth
                                        class="form-control"
                                        type="email"
                                        name="emailAddress"
                                        id="emailAddress"
                                        required
                                        maxlength="256"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                                        [(ngModel)]="user.emailAddress"
                                        #emailAddressModel="ngModel"
                                        #emailAddressEl
                                        />
                                        <abp-validation-summary
                                        [control]="emailAddressModel"
                                        [controlEl]="emailAddressEl"
                                        ></abp-validation-summary>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group row mb-0">
                                    <label class="col-md-3 col-form-label">
                                        {{ "IsActive" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <nb-checkbox 
                                        name="isActive"
                                        id="isActive"
                                        [(ngModel)]="user.isActive"
                                        (checkedChange)="onActiveChecked($event)"
                                        [checked]="user.isActive"
                                        ></nb-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="{{'UserRoles' | localize}}">
                    <nb-list>
                        <nb-list-item *ngFor="let role of roles; let i = index">
                            <nb-checkbox 
                            (checkedChange)="onRoleChecked($event,role)" 
                            status="primary">{{role.displayName}}</nb-checkbox>
                        </nb-list-item>
                    </nb-list>
                        
                </nb-tab>
            </nb-tabset>
            
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editUserForm.form.valid || saving"
            (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>