<form class="form-horizontal" autocomplete="off" #editSizeForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'EditSize' | localize}}
        </nb-card-header>
        <nb-card-body>
            <div>
                <!--Name-->
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Name" | localize }}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="e-input as-sy-input" name="name" id="name" minlength="2"  
                            required autocomplete="off" [(ngModel)]="category.name" #nameModel="ngModel" #nameEl />
                        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl">
                        </abp-validation-summary>
                    </div>
                </div>
                <!--Description-->
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label" for="description">
                        {{ "Description" | localize }}
                    </label>
                    <div class="col-md-9">
                        <textarea class="e-input as-sy-input" name="description" id="description"  
                            autocomplete="off" [(ngModel)]="category.description" #descriptionModel="ngModel" #descriptionEl></textarea>
                        <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl">
                        </abp-validation-summary>
                    </div>
                </div>
                <!--ParentCategory-->
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="type">
                        {{ "ParentCategory" | localize }}
                    </label>
                    <div class="col-md-9">
                        <ejs-dropdownlist id='parentCategoryId' name='parentCategoryId' cssClass="as-sy-input" [dataSource]='categoriesForDropdown'
                             [fields]='parentFields' required [(ngModel)]="category.parentCategoryId"
                            #parentCategoryIdModel="ngModel" #parentCategoryIdEl></ejs-dropdownlist>
                        <abp-validation-summary [control]="parentCategoryIdModel" [controlEl]="parentCategoryIdEl">
                        </abp-validation-summary>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editSizeForm.form.valid || saving"
            (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>