<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <nb-card class="as-case-card">
                <nb-card-header>
                    <nb-actions>
                        <nb-action class="control-item">
                            <h5 class="as-m-l-1"><i class="fas fa-book-reader"></i></h5>
                            <h5>{{ "Size" | localize }}</h5>
                        </nb-action>
                        <nb-action class="control-item ">
                        </nb-action>
                    </nb-actions>
                </nb-card-header>
                <nb-card-body class="as-case-card-body">
                    <ejs-grid id="SizeGrid" #sizeGrid [dataSource]="sizes" [allowPaging]="true"
                        [allowSorting]="true" [allowFiltering]="true"  [pageSettings]="pageSettings"
                        [filterSettings]='filterOption'>
                        <!--toolbar-->
                        <ng-template #toolbarTemplate>
                            <ejs-toolbar>
                                <div>
                                    <!-- <div style="width: 5px;"></div> -->
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary e-small e-round"
                                            iconCss="e-icons e-plus" (click)="showCreateDialog()"
                                            *ngIf="permission.isGranted('Action.Size.Create')"></button>
                                    </div>
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline"
                                            iconCss="e-icons e-filter-clear-3"> <span
                                                class="as-btn-text">{{'ClearFilters' | localize}}</span></button>
                                    </div>
                                    <div>
                                        <button ejs-button cssClass="as-btn-primary-outline"
                                            iconCss="e-icons e-sorting"> <span class="as-btn-text">{{'ClearSorts' |
                                                localize}}</span></button>
                                    </div>
                                </div>
                            </ejs-toolbar>

                        </ng-template>
                        <!--Columns-->
                        <e-columns>
                            <e-column headerText="{{l('Commands')}}" textAlign='Center' width="140"
                                *ngIf="permission.isGranted('Action.Size.Update') || permission.isGranted('Action.Size.Delete')">
                                <ng-template #template let-data>
                                    <span class=""><button ejs-button cssClass="as-btn-success-outline e-small e-round"
                                            iconCss="e-icons e-edit" (click)="showEditDialog(data.id)"
                                            *ngIf="permission.isGranted('Action.Size.Update')"></button> </span>
                                    <span class="as-m-l-2"><button ejs-button
                                            cssClass="as-btn-danger-outline e-small e-round" iconCss="e-icons e-trash"
                                            (click)="delete(data)"
                                            *ngIf="permission.isGranted('Action.Size.Delete')"></button></span>
                                </ng-template>
                            </e-column>
                            <e-column field="id" headerText="Id" isPrimaryKey="true" [visible]="false"></e-column>
                            <e-column field="name" headerText="{{'name' | localize}}" textAlign="center"></e-column>
                            <e-column field="order" headerText="{{'order' | localize}}" textAlign="center">
                            </e-column>

                        </e-columns>
                    </ejs-grid>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>