<form class="form-horizontal" autocomplete="off" #resetPasswordModal="ngForm" (ngSubmit)="resetPassword()">
    <nb-card>
        <nb-card-header>
            {{'ResetPassword' | localize}}
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-9 offset-md-3">
                    <p class="text-info mb-1">
                        {{ "ResetPasswordStepOneInfo" | localize }}
                    </p>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="adminPassword">
                    {{ "AdminPassword" | localize }}
                </label>
                <div class="col-md-9">
                    <input nbInput fullWidth type="password" class="form-control" id="adminPassword" name="adminPassword" required
                        [(ngModel)]="resetPasswordDto.adminPassword" #adminPasswordModel="ngModel" #adminPasswordEl />
                    <abp-validation-summary [control]="adminPasswordModel" [controlEl]="adminPasswordEl">
                    </abp-validation-summary>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 offset-md-3">
                    <p class="text-info mb-1">
                        {{ "ResetPasswordStepTwoInfo" | localize }}
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="newPassword">
                    {{ "NewPassword" | localize }}
                </label>
                <div class="col-md-9">
                    <input nbInput fullWidth type="text" class="form-control" name="NewPassword" id="newPassword" readonly
                        [ngModel]="resetPasswordDto.newPassword" />
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="isLoading" [saveDisabled]="!resetPasswordModal.form.valid || isLoading"
            (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>